<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Add Author</title>
</head>
<body>
<div th:replace="header :: menu"></div>
<div class="container">
    <form method="POST" class="form-group">
        <label for="name" th:text="#{author.name}"></label>
        <input id="name" class="form-control" name="name" th:placeholder="#{author.name}"/>
        <button type="submit" th:text="#{buttonSubmit}" class="btn-primary"/>
    </form>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>