<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Add Author</title>
</head>
<body>
<div th:replace="header :: menu"></div>
<div class="container">
    <table>
        <tbody>
        <form method="POST" class="form-group">
            <tr>
                <td><label for="name" th:text="#{category.name}"></label></td>
                <td><input id="name" class="form-control" name="name" th:placeholder="#{category.name}"/></td>
            </tr>
            <tr>
                <td><label for="description" th:text="#{category.description}"></label></td>
                <td>
                    <textarea id="description" name="description" th:placeholder="#{category.description}" rows="3"
                              class="form-control"></textarea>
                </td>
            </tr>
            <tr>
                <button type="submit" th:text="#{buttonSubmit}" class="btn-primary"></button>
            </tr>
        </form>
        </tbody>

    </table>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>