<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Book List</title>
</head>
<body>
<div th:replace="header :: menu">

</div>
<div class="container">
    <h1>Book List</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{book.ISBN}"></th>
            <th th:text="#{book.name}"></th>
            <th th:text="#{book.price}"></th>
            <th th:text="#{book.description}"></th>
            <th></th>
            <!--<th></th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${booksInCart}">
            <td th:text="${book.ISBN}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.description}"></td>
            <td>
                <form method="POST" class="form-group" th:action="@{/cart/remove.html}">
                    <input th:hidden="true" th:value="${book.ISBN}" id="isbn" name="isbn"/>
                    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                    <button type="submit" th:text="#{buttonRemove}" class="btn-primary"></button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
    <div class="row">
        <div class="col-md-2 .col-md-offset-10">
            <form method="POST" class="form-group" th:action="@{/command/passCommand.html}">
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <button type="submit" th:text="#{buttonPassCommand}" class="btn-primary"></button>
            </form>
        </div>
    </div>
</div>
<div th:replace="footer :: footer">
</div>
</body>
</html>