<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Book List</title>
</head>
<body>
<div th:replace="header :: menu">

</div>
<div class="container">
    <h1 th:text="#{commands}">Commands List</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{command.totalPrice}"></th>
            <th th:text="#{command.date}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="command : ${commands}">
            <td th:text="${command.getCart().total}"></td>
            <td th:text="${command.getDate().toString()}"></td>
        </tr>
        </tbody>

    </table>
</div>
<div th:replace="footer :: footer">
</div>
</body>
</html>