<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container">
        <p class="text-muted center">Copyrighted TP Framework 2015</p>
    </div>
</footer>
<!--<footer  class="footer">-->
<!--<div class="container-fluid">-->
<!--<p class="center">Copyrighted TP Framework 2015</p>-->
<!--</div>-->

<!--</footer>-->
</body>
</html>