<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=
              "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/searchTest.html}">Search</a></li>
                <li><a th:href="@{/allBooks.html}">Show All</a></li>
                <li><a sec:authorize-url="/command/list.html" th:href="@{/command/list.html}">Commands</a></li>
                <li><a th:href="@{/index.html?language=fr}">French</a></li>
                <li><a th:href="@{/index.html?language=en}">English</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${#authorization.expression('!(isAuthenticated())')}">
                <li>
                    <a th:href="@{/login.html}">Login</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li><p class="navbar-text">Hello <span sec:authentication="name">someone</span></p>
                </li>
                <li>
                    <form id="logout" th:action="@{/logout}" method="post" class="navbar-form ">
                        <button type="submit" class="btn btn-default">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>