<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Welcome</title>
</head>
<body>
<img th:src="@{/resources/images/old_book-wallpaper-1920x1200.jpg}" alt="book"/>

<div th:replace="header :: menu">

</div>
<div class="container">
    <h1 th:text="#{helloMessage}"></h1>
</div>
<div th:replace="footer :: footer">
</div>
</body>
</html>