<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Jebouquine</title>
</head>
<body onload='document.f.username.focus();'>
<!--<div th:replace="header :: menu"></div>-->
<div id="content">
    <form name='f' th:action='@{/login.html}' method='POST' class="form-signin">
        <input type='text' name='username' placeholder="Username" class="form-control"/>
        <input type='password' name='password' placeholder="Password" class="form-control"/>
        <div class="checkbox">
            <input id="remember_me" name="remember-me" type="checkbox"/>
            <label for="remember_me">Remember me</label>
        </div>
        <button name="submit" type="submit" value="Login" class="btn btn-lg btn-primary btn-block">Login</button>
        <!--Submit to /login-->
        <!--<table>-->
        <!--<tr>-->
        <!--<td>User:</td>-->
        <!--<td>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Password:</td>-->
        <!--<td></td>-->
        <!--</tr>-->
        <!--<tr>-->

        <!--</tr>-->
        <!--<tr>-->
        <!--<td colspan='2'>-->
        <!--</td>-->
        <!--</tr>-->

        <!--</table>-->

    </form>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>