<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Search Books</title>
</head>
<body>
<div th:replace="header :: menu">

</div>
<div class="container">
    <h1 th:text="#{bookSearch}"></h1>

    <form method="GET" action="searchResult.html" th:object="${multiCriteriaForm}" class="form-group">
        <table>
            <tr>
                <td><label th:text="#{book.ISBN}"></label></td>
                <td><input th:field="*{ISBN}" class="form-control"/></td>
            </tr>
            <tr>
                <td><label th:text="#{book.name}"></label></td>
                <td><input th:field="*{bookName}" class="form-control"/></td>
            </tr>
            <tr>
                <td><label th:text="#{author.name}"></label></td>
                <td><input th:field="*{authorName}" class="form-control"/></td>
            </tr>
            <tr>
                <td><label th:text="#{category.name}"></label></td>
                <td><input th:field="*{categoryName}" class="form-control"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" th:text="#{buttonSubmit}" class="btn-primary"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="footer :: footer">
</div>
</body>
</html>