<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/stickyfooter.css}"/>
    <title>Book List</title>
</head>
<body>
<div th:replace="header :: menu">

</div>
<div class="container">
    <h1>Book List</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{book.ISBN}"></th>
            <th th:text="#{book.name}"></th>
            <th th:text="#{book.price}"></th>
            <th th:text="#{book.description}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.ISBN}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.description}"></td>
            <td>
                <form method="POST" class="form-group" th:action="@{/cart/add.html}">
                    <input th:hidden="true" th:value="${book.ISBN}" id="isbn" name="isbn"/>
                    <button type="submit" th:text="#{buttonAdd}" class="btn-primary"></button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<div th:replace="footer :: footer">
</div>
</body>
</html>